<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blank Page</title>
    <!-- Facebook Metadata -->
    <meta property="og:title" content="Your Page Title">
    <meta property="og:description" content="Description of your page.">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="src/static/css/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Welcome to my first blog experiment</p>
    {{ content | safe }}
</body>
</html>
